@mixin border($color: #333, $width: 1px, $style: solid) {
  border: $width $style $color;
}
@mixin border-top($color: #333, $width: 1px, $style: solid) {
  border-top: $width $style $color;
}
@mixin border-right($color: #333, $width: 1px, $style: solid) {
  border-right: $width $style $color;
}
@mixin border-bottom($color: #333, $width: 1px, $style: solid) {
  border-bottom: $width $style $color;
}
@mixin border-left($color: #333, $width: 1px, $style: solid) {
  border-left: $width $style $color;
}

@mixin hw100 {
  height: 100%;
  width: 100%;
}


@mixin transition($time: .3s) {
  -webkit-transition: $time;
  -ms-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
  transition: $time;
}

@mixin translate($posX: 0, $posY: 0) {
  -webkit-transform: translate($posX, $posY);
  -ms-transform: translate($posX, $posY);
  transform: translate($posX, $posY);
}
@mixin translateX($posX: 0) {
  -webkit-transform: translateX($posX);
  -ms-transform: translateX($posX);
  transform: translateX($posX);
}
@mixin translateY($posY: 0) {
  -webkit-transform: translateY($posY);
  -ms-transform: translateY($posY);
  transform: translateY($posY);
}

@mixin pos_ver_cen {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin bor_rad($value: 100%) {
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin height_width($height: auto, $width: auto) {
  height: $height;
  width: $width;
}


@mixin inline_element($va: top) {
  display: inline-block;
  margin-right: -4px;
  vertical-align: $va;
}